div{background-color: #4caf50; padding: 10px;}
div.first{opacity: 0.1;}
div.second{opacity: 0.3;}
div.third{opacity: 0.6;}
div{right: 30px; border: 3px solid #73ad21;}
div.absolute{position: absolute; left: 50px; border: 3px solid blue;}
div.relative{position: relative; left: 100px; border: 3px solid #73ad21;}
div.fixed{position: fixed; top: 0; right: 20px; left: 20px; width: 100px; border: 3px solid #73ad21;}
div.sticky{position: sticky; top: 1px; left: 20px; width: 100px; border: 3px solid #73ad21;}