.example1{width: 200px; background-color: darkred; padding: 0px 10px 20px 40px; border: 0px; margin: 0px; float: left;}
.example2{width: 200px; background-color: darkcyan; padding: 80px ; border: 5px solid black; margin: 60px 60px; float: right;}
img#flowerright{float:right}
img#flowerleft{float:left}