h3{color:red; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.trial{background-color: olive; color:bisque !important; text-transform: lowercase;}
#AB{background-color: black; color:blueviolet; text-decoration: dashed;}
*{text-decoration: dashed; text-align: center; color:brown; background-color: blue;}